<div class="well bs-component">
  <h1>Enter the artist:</h1>
  <div class="well bs-component">
    <%= form_tag index_path do %>
        <fieldset>
          <div class="form-group">
            <%= label_tag :name %><br />
            <%= text_field_tag :name %>
          </div>
          <div class="form-group">
            <%= submit_tag "Search", class: 'btn btn-primary btn-lg'%>
          </div>
        </fieldset>
    <% end %>
  </div>
</div>