// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#artists tr {
  cursor:pointer;
}

.albums > td {
  //display: block;
  margin-left: 100px;
}

.albums table td {
  vertical-align: middle;
}